:root{
    --board-size: 100%;
}

.board .grass-tile{
    position: relative;
    float: left;
    user-select: none;
    cursor: pointer;
    width: calc(var(--board-size)/6);
    height: calc(var(--board-size)/6);
    border: 1px solid black;
    color: white;
    z-index: 0;
    margin: 0;
    padding: 2%;
}

.allowed{
    background: #00ff0030;
}

.notAllowed{
    background: #FF000030;
}

.board{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-image: url('/assets/moss.png');
    background-size: cover;
}

.grass-tile.possible{
    background: #FED13630;
    box-shadow: inset 0px 0px 0px 2px #FED136;
}

.board-container{
    width: 100%;
    padding-top: 100%;
    position: relative;
}